# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

[Unit]
Description=Vaani Auto Updater
After=network.target

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
WorkingDirectory=/opt/git-auto-updater
ExecStart=/opt/git-auto-updater/bin/git-auto-updater -r https://github.com/mozilla/vaani.client -b deployed -p /opt/vaani.client -t 0200 -e 1 -s SIGCONT -- bash /opt/vaani.raspberrypi/client/update.sh

Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
